@model IEnumerable<ASP_Foody_Ordering.Models.Cthoadon>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container-fluid px-4">

    <div class="card mb-4">
        <div class="card-header">
            <h1 class="mt-4">Danh sách chi tiết hóa đơn</h1>
        </div>
        <div class="card-body">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.DonGia)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SoLuong)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ThanhTien)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MaHdNavigation)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MaMaNavigation)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MaMaNavigation.HinhAnh)
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.DonGia.ToString("n0")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SoLuong)
                        </td>
                        <td>
                            @item.ThanhTien.ToString("n0")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaHdNavigation.MaHd)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaMaNavigation.Ten)
                        </td>
                        <td>
                            <img class="img-thumbnail" style="width:50px" src="~/images/MonAn/@Html.DisplayFor(modelItem => item.MaMaNavigation.HinhAnh)" />
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

