@model IEnumerable<ASP_Foody_Ordering.Models.Monan>

@{
    ViewData["Title"] = "Index";
}

<section class="slider_section " style="background-image: url('../images/hero-bg.jpg'); background-size:cover; background-position:center; background-repeat:no-repeat">
    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-7 col-lg-6 ">
                            <div class="detail-box">
                                <h1>
                                    Món ngon tại nhà
                                </h1>
                                <p>
                                    Đặt món ăn online, giao tận nơi là một dịch vụ tiện lợi giúp bạn có thể thưởng thức những món ăn ngon mà không cần ra khỏi nhà. Với dịch vụ này, bạn có thể dễ dàng lựa chọn món ăn từ nhiều nhà hàng khác nhau, chỉ cần một vài thao tác đơn giản trên điện thoại hoặc máy tính.
                                </p>
                                <div class="btn-box">
                                    <a asp-area="" asp-controller="Home" asp-action="Menu" class="btn1">
                                        Mua Ngay
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-7 col-lg-6 ">
                            <div class="detail-box">
                                <h1>
                                    Ăn ngon, tiết kiệm
                                </h1>
                                <p>
                                    Đặt món ăn, nhận ưu đãi là một chương trình khuyến mãi hấp dẫn được nhiều website đặt món ăn áp dụng. Với chương trình này, bạn có thể tiết kiệm được một khoản tiền khi đặt món ăn. Các chương trình ưu đãi thường bao gồm giảm giá, tặng quà,...
                                </p>
                                <div class="btn-box">
                                    <a asp-area="" asp-controller="Home" asp-action="Menu" class="btn1">
                                        Mua Ngay
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-7 col-lg-6 ">
                            <div class="detail-box">
                                <h1>
                                    Nhanh chóng, tiện lợi
                                </h1>
                                <p>
                                    Đặt món ăn, giao nhanh chóng là một tiêu chí quan trọng mà nhiều người dùng quan tâm khi lựa chọn website đặt món ăn. Với dịch vụ giao hàng nhanh chóng, bạn có thể nhận được món ăn trong thời gian ngắn, không cần phải chờ đợi lâu. Điều này giúp bạn tiết kiệm thời gian và có thể thưởng thức món ăn ngay khi còn nóng hổi.
                                </p>
                                <div class="btn-box">
                                    <a asp-area="" asp-controller="Home" asp-action="Menu" class="btn1">
                                        Mua Ngay
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <ol class="carousel-indicators">
                <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
                <li data-target="#customCarousel1" data-slide-to="1"></li>
                <li data-target="#customCarousel1" data-slide-to="2"></li>
            </ol>
        </div>
    </div>
</section>

<section class="offer_section layout_padding-bottom">
    <div class="offer_container">
        <div class="container ">
            <div class="heading_container heading_center">
                <br />
                <h2>
                    DANH MỤC
                </h2>
            </div>
            <div class="row">
                @foreach (var i in (List<Danhmuc>)ViewBag.danhmuc)
                {
                    <div class="col-md-6  ">
                        <div class="box ">
                            <div class="img-box">
                                <img class="bg-light" src="~/images/DanhMuc/@i.HinhAnh" alt="">
                            </div>
                            <div class="detail-box">
                                <h5 class="text-uppercase">
                                    @i.Ten
                                </h5>
                                <br />
                                <a asp-action="MonAnTheoDanhMuc" asp-route-id="@i.MaDm">
                                    Xem chi tiết <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">
                                    <g>
                                    <g>
                                    <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                     c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
                      </g>
                    </g>
                                    <g>
                                    <g>
                                    <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                     C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                     c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                     C457.728,97.71,450.56,86.958,439.296,84.91z" />
                      </g>
                    </g>
                                    <g>
                                    <g>
                                    <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                     c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
                      </g>
                    </g>
                                    <g>
                    </g>
                                    <g>
                    </g>
                                    <g>
                    </g>
                                    <g>
                    </g>
                                    <g>
                    </g>
                                    <g>
                    </g>
                                    <g>
                    </g>
                                    <g>
                    </g>
                                    <g>
                    </g>
                                    <g>
                    </g>
                                    <g>
                    </g>
                                    <g>
                    </g>
                                    <g>
                    </g>
                                    <g>
                    </g>
                                    <g>
                    </g>
                  </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>


<section class="food_section layout_padding-bottom">
    <div class="container">
        <div class="heading_container heading_center">
            <br />
            <h2>
                MÓN ĐƯỢC ĐẶT NHIỀU
            </h2>
        </div>
        <div class="filters-content">
            <div class="row grid">
                @foreach (var item in (List<Monan>)ViewBag.luotmua)
                {
                    <div class="col-sm-6 col-lg-4 all">
                        <div class="box">
                            <div>
                                @if (item.GiaBan != item.GiaGoc)
                                {
                                    <!-- Sale badge-->
                                    <div class="badge bg-danger text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Giảm giá</div>
                                }
                                <div class="img-box">
                                    <a class="text-decoration-none" asp-action="Details" asp-route-id="@item.MaMa"><img src="~/images/MonAn/@Html.DisplayFor(modelItem => item.HinhAnh)" /></a>
                                </div>
                                <div class="detail-box">
                                    <h5  style="width: 300px; overflow: hidden; text-overflow: ellipsis; line-height: 30px; -webkit-line-clamp: 1; display: -webkit-box; -webkit-box-orient: vertical; ">
                                        <a class="text-decoration-none text-white text-uppercase " asp-action="Details" asp-route-id="@item.MaMa">@Html.DisplayFor(modelItem => item.Ten)</a>
                                    </h5>
                                    <p style="width: 300px; overflow: hidden; text-overflow: ellipsis; line-height: 20px; -webkit-line-clamp: 2; display: -webkit-box; -webkit-box-orient: vertical; ">
                                        @Html.DisplayFor(modelItem => item.MoTa)
                                    </p>
                                    <div class="options">

                                        @if (item.GiaBan != item.GiaGoc)
                                        {
                                            <span class="text-muted text-decoration-line-through" style="text-decoration: line-through;">@item.GiaGoc.ToString("n0") đ</span>
                                        }
                                        <span class="text-danger fw-bolder">@item.GiaBan.ToString("n0") đ</span>
                                        <a asp-controller="Home" asp-action="AddToCart" asp-route-id="@item.MaMa">
                                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">
                                            <g>
                                            <g>
                                            <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                         c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
                          </g>
                        </g>
                                            <g>
                                            <g>
                                            <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                         C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                         c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                         C457.728,97.71,450.56,86.958,439.296,84.91z" />
                          </g>
                        </g>
                                            <g>
                                            <g>
                                            <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                         c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
                          </g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                      </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="btn-box">
            <a asp-area="" asp-controller="Home" asp-action="Menu">
                Đi tới Menu
            </a>
        </div>
    </div>
</section>

<section class="food_section layout_padding-bottom">
    <div class="container">
        <div class="heading_container heading_center">
            <br />
            <h2>
                MÓN ĐƯỢC XEM NHIỀU
            </h2>
        </div>
        <div class="filters-content">
            <div class="row grid">
                @foreach (var item in Model)
                {
                    <div class="col-sm-6 col-lg-4 all">
                        <div class="box">
                            <div>
                                @if (item.GiaBan != item.GiaGoc)
                                {
                                    <!-- Sale badge-->
                                    <div class="badge bg-danger text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Giảm giá</div>
                                }
                                <div class="img-box">
                                    <a class="text-decoration-none" asp-action="Details" asp-route-id="@item.MaMa"><img src="~/images/MonAn/@Html.DisplayFor(modelItem => item.HinhAnh)" /></a>
                                </div>
                                <div class="detail-box">
                                    <h5  style="width: 300px; overflow: hidden; text-overflow: ellipsis; line-height: 30px; -webkit-line-clamp: 1; display: -webkit-box; -webkit-box-orient: vertical; ">
                                        <a class="text-decoration-none text-white text-uppercase" asp-action="Details" asp-route-id="@item.MaMa">@Html.DisplayFor(modelItem => item.Ten)</a>
                                    </h5>
                                    <p style="width: 300px; overflow: hidden; text-overflow: ellipsis; line-height: 20px; -webkit-line-clamp: 2; display: -webkit-box; -webkit-box-orient: vertical; ">
                                        @Html.DisplayFor(modelItem => item.MoTa)
                                    </p>
                                    <div class="options">

                                        @if (item.GiaBan != item.GiaGoc)
                                        {
                                            <span class="text-muted text-decoration-line-through" style="text-decoration: line-through;">@item.GiaGoc.ToString("n0") đ</span>
                                        }
                                        <span class="text-danger fw-bolder">@item.GiaBan.ToString("n0") đ</span>
                                        <a asp-controller="Home" asp-action="AddToCart" asp-route-id="@item.MaMa">
                                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">
                                            <g>
                                            <g>
                                            <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                         c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
                          </g>
                        </g>
                                            <g>
                                            <g>
                                            <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                         C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                         c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                         C457.728,97.71,450.56,86.958,439.296,84.91z" />
                          </g>
                        </g>
                                            <g>
                                            <g>
                                            <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                         c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
                          </g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                      </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="btn-box">
            <a asp-area="" asp-controller="Home" asp-action="Menu">
                Đi tới Menu
            </a>
        </div>
    </div>
</section>

<!-- client section -->

<section class="client_section layout_padding-bottom">
    <div class="container">
        <div class="heading_container heading_center psudo_white_primary mb_45">
            <h2>
                NHỮNG LỜI KHEN CỦA KHÁCH HÀNG THÂN MẾN
            </h2>
        </div>
        <div class="carousel-wrap row ">
            <div class="owl-carousel client_owl-carousel">
                <div class="item">
                    <div class="box">
                        <div class="detail-box">
                            <p>
                                Website này rất tiện lợi, giúp mình tiết kiệm được rất nhiều thời gian. Mình chỉ cần ngồi ở nhà và đặt món ăn, sau đó sẽ có người giao hàng tận nơi. Mình không cần phải ra ngoài nắng nóng hay chờ đợi lâu để được thưởng thức món ăn. Món ăn được giao đến trong tình trạng nóng hổi và vẫn giữ được hương vị thơm ngon. Mình rất hài lòng với dịch vụ của website này.
                            </p>
                            <h6>
                                Anh 7 Dev
                            </h6>
                            <p>
                                Nguyễn Chí Cường
                            </p>
                        </div>
                        <div class="img-box">
                            <img src="~/images/nccuong.jpg" alt="" class="box-img">
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="box">
                        <div class="detail-box">
                            <p>
                                Mình mới biết đến website này cách đây không lâu nhưng đã rất hài lòng với dịch vụ của họ. Món ăn ngon, giá cả hợp lý và giao hàng nhanh chóng. Mình đã đặt món ăn từ nhiều nhà hàng khác nhau và đều rất hài lòng với chất lượng món ăn. Website này có rất nhiều lựa chọn món ăn cho bạn, từ món ăn truyền thống đến món ăn quốc tế. Mình chắc chắn sẽ tiếp tục sử dụng dịch vụ của website này trong tương lai.
                            </p>
                            <h6>
                                Anh Tư Đăng
                            </h6>
                            <p>
                                Lê Hải Đăng
                            </p>
                        </div>
                        <div class="img-box">
                            <img src="~/images/lhdang.jpg" alt="" class="box-img">
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="box">
                        <div class="detail-box">
                            <p>
                                Website này thường xuyên có các chương trình ưu đãi hấp dẫn, giúp mình tiết kiệm được một khoản tiền khi đặt món ăn. Mình đã được hưởng rất nhiều ưu đãi từ website này, chẳng hạn như giảm giá, tặng quà,... Các chương trình ưu đãi của website rất đa dạng và hấp dẫn, giúp mình có cơ hội thưởng thức món ăn ngon với giá cả phải chăng hơn. Mình rất hài lòng với các chương trình ưu đãi của website này.
                            </p>
                            <h6>
                                Đại Ca Huy
                            </h6>
                            <p>
                                Trần Đình Huy
                            </p>
                        </div>
                        <div class="img-box">
                            <img src="~/images/tdhuy.jpg" alt="" class="box-img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end client section -->
