@model ASP_Foody_Ordering.Models.Monan

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="py-5" style="background-color: #222831;">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4 col-md-5 col-sm-6">
                        <div class="white-box text-center">
                            <img class="img-thumbnail" style="height:300px" src="~/images/MonAn/@Html.DisplayFor(model => model.HinhAnh)" />
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-7 col-sm-6">
                        <div class="heading_container">
                            <h2 class="text-uppercase">
                                @Html.DisplayFor(model => model.Ten)
                            </h2>
                        </div>
                        @if (Model.GiaBan != Model.GiaGoc)
                        {
                            <h5 class="badge bg-danger ms-2 text-lowercase text-light">Giảm giá</h5>
                        }
                        <h4 class="box-title">
                            Mô tả
                        </h4>
                        <p>@Html.DisplayFor(model => model.MoTa)</p>
                        <h2>
                            @{
                                var culture = new System.Globalization.CultureInfo("vi-VN");
                            }
                            @String.Format(culture, "{0:C0}", Model.GiaBan)
                            @if (Model.GiaBan != Model.GiaGoc)
                            {
                                <small class="text-danger" style="text-decoration: line-through;">@String.Format(culture, "{0:C0}", Model.GiaGoc) </small>
                            }
                        </h2>
                        <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@Model.MaMa">Edit</a> |
                        <a class="btn btn-outline-info" asp-action="Index">Back to List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-5" style="background-color: #222831;">
    </section>
<section class="py-5" style="background-color: #222831;">
</section>
