@model IEnumerable<ASP_Foody_Ordering.Models.Danhmuc>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-fluid px-4">
    <h1 class="mt-4">Danh sách danh mục</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Admin">Trang chủ</a></li>
        <li class="breadcrumb-item active">Danh mục</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            <p>
                <a class="btn btn-outline-info" asp-action="Create">Thêm mới</a>
            </p>
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Ten)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.HinhAnh)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TrangThai)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Ten)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.HinhAnh)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TrangThai)
                        </th>
                        <th></th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ten)
                            </td>
                            <td>
                                <img class="img-thumbnail" style="width:50px" src="~/images/DanhMuc/@Html.DisplayFor(modelItem => item.HinhAnh)" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TrangThai)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.MaDm" class="btn btn-outline-warning">Cập nhật</a>
                                <a asp-action="Details" asp-route-id="@item.MaDm" class="btn btn-outline-info">Chi tiết</a>
                                <a asp-action="Delete" asp-route-id="@item.MaDm" class="btn btn-outline-danger">Xóa</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
