@model ASP_Foody_Ordering.Models.Hoadon

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<section class="py-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-header bg-info text-white text-center">
                        <h3>Thông tin đơn hàng</h3>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>@Html.DisplayNameFor(model => model.Ngay): </strong>@Html.DisplayFor(model => model.Ngay)</li>
                            <li class="list-group-item"><strong>@Html.DisplayNameFor(model => model.TongTien): </strong>@Model.TongTien.ToString("n0")</li>
                            <li class="list-group-item"><strong>@Html.DisplayNameFor(model => model.MaTkNavigation): </strong>@Html.DisplayFor(model => model.MaTkNavigation.Ten)</li>
                            @if (Model.TrangThai == 0)
                            {
                                <li class="list-group-item"><strong>@Html.DisplayNameFor(model => model.TrangThai): </strong>Đã tạo đơn hàng</li>
                            }
                            else if(Model.TrangThai == 1)
                            {
                                <li class="list-group-item"><strong>@Html.DisplayNameFor(model => model.TrangThai): </strong>Đơn hàng đã giao</li>
                            }
                            else
                            {
                                <li class="list-group-item"><strong>@Html.DisplayNameFor(model => model.TrangThai): </strong>Đã hủy đơn hàng</li>
                            }
                        </ul>
                    </div>
                    <div class="card-footer text-center">
                        <a asp-action="Edit" asp-route-id="@Model.MaHd" class="btn btn-warning">Cập nhật thông tin</a>
                        <a asp-action="Index" class="btn btn-info">Quay về</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
