@model ASP_Foody_Ordering.Models.Cthoadon

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div id="layoutAuthentication_content">
<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Chi tiết hóa đơn</h3></div>
                    <div class="card-body">
                        <img src="~/images/MonAn/@Html.DisplayFor(modelItem => Model.MaMaNavigation.HinhAnh)" alt="project-image" class="rounded  mx-auto d-block" style="width:500px">
                        <div class="project-info-box text-center">
                            <p><b>@Html.DisplayNameFor(model => model.DonGia) </b> @Model.DonGia.ToString("n0")</p>
                            <p><b>@Html.DisplayNameFor(model => model.SoLuong) </b> @Model.SoLuong</p>
                            <p><b>@Html.DisplayNameFor(model => model.ThanhTien) </b> @Model.ThanhTien.ToString("n0")</p>
                            <p><b>@Html.DisplayNameFor(model => model.MaHdNavigation) </b> @Model.MaHdNavigation.MaHd</p>
                            <p><b>@Html.DisplayNameFor(model => model.MaMaNavigation) </b> @Model.MaMaNavigation.MaMa</p>

                        </div><!-- / project-info-box -->
                    </div>
                    <div class="card-footer text-center py-3">
                        <a asp-action="Index" class="btn btn-outline-info">Quay về</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</div>
